*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #cc1111;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005e18;
    padding: 10px;
    color: white;
}

.logo img {
    height: 40px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

.search-bar button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.nav-links a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.menu-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #007f1f;
    padding: 10px 0;
    color: white;
}

.menu-bar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

.menu-bar a:hover {
    background-color: #00671a;
    border-radius: 3px;
}
