<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% block title %}
    <title> Brajesh Rajput</title>
    {% endblock title %}
   
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/animation.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>
    <div class="logo_search">
        <div ><img class="navlogo" src="{% static 'image/logo.png' %}" alt="logo">
        Shopsy
        </div>
        <div> <input type="text" placeholder="search" class="search"></div>
        <div><i class="fa-solid fa-cart-plus"></i></div>
        
    </div>
    <nav>
        <div class="naviteam">
            <a href="#">Home</a>
            <a href="#">Top Reled</a>
            <a href="#">Kids Wear</a>
            <a href="#">Mans Wear</a>
            <a href="#">Eletrnic</a>
            <a href="#">Trending Iteams</a>
        </div>
    </nav>
    {% block content %}
        <h1>this is my base page</h1>
    {% endblock %}

<footer class="footer">
    <div class="footer">
        <div class="footerlogo"><img src="{% static 'image/logo.png' %}"  alt="logo" > </div>
            <div>this is shopping sait wew site and it is create by brajesh mewada and it is dizin by  me
            </div>
        <div></div>
        <div>links <a href="">Home</a><a href="">About</a><a href="">Contect</a><a href="">blog</a></div>
        <div></div>
    </div>
</footer>
   

    <script src="{% static 'js/myscript.js' %}"></script>
    <script src="{% static 'js/animation.js' %}"></script>

 

</body>
</html>