<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% block title %}
    <title> Brajesh Rajput</title>
    {% endblock title %}
   
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/animation.css' %}">

</head>
<body>
    <div class="logo_search">
        <div ><img class="navlogo" src="{% static 'image/logo.png' %}" alt="logo">
        Shopsy
        </div>
        <div> <input type="text" placeholder="search" class="search"></div>
        
    </div>
    <nav>
        <div class="naviteam">
            <a href="#">Home</a>
            <a href="#">Top Reled</a>
            <a href="#">Kids Wear</a>
            <a href="#">Mans Wear</a>
            <a href="#">Eletrnic</a>
            <a href="#">Trending Iteams</a>
        </div>
    </nav>
    {% block content %}
        <h1>this is my base page</h1>
    {% endblock %}
        <h1>htisi is  my foote</h1>
   

    <script src="{% static 'js/myscript.js' %}"></script>
    <script src="{% static 'js/animation.js' %}"></script>

 

</body>
</html>